@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* ::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    @apply bg-primary rounded-lg
}

 */


@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoMd';
    src: url('../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../assets/fonts/Roboto-Light.ttf');
}


@layer components{
    
}

/*base here*/
@layer base{
    .box {
        @apply pt-6 pb-4 w-full flex items-start justify-start flex-col gap-[64px]
    }

    .bg-gradient-primary{
        @apply bg-gradient-to-r from-primary from-40% to-dark-primary text-white 
    }

    .text-gradient-primary{
        @apply bg-gradient-to-r from-primary from-40% to-dark-primary bg-clip-text
    }

    .box-padding{
        @apply ps-16 pe-6
    }

 
}